html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body
{

}
#server
{
display:none;
}
#container
{
margin-left:auto;
margin-right:auto;
margin-top:auto;
margin-bottom:auto;
height:800px;
width:1000px;
}
#text
{
width:100%;
height:100px;
background-color:#E05A12;
text-align:center;
}
.box
{
width:100%;
background-color:#7518D9;
}
#registerme
{
width:200px;
margin:30px;
padding:10px;
background-color:#7518D9;
}
#login
{
width:200px;
margin:30px;
padding:10px;
background-color:#F0EC13;
}
.notcalled
{
display:none;
}
#disp
{
background-color:#E01B4C;
width:70%;
height:600px;
float:left;
padding:10px;
}
.user
{
background-color:#E05A12;
margin:10px;
padding:0.1em;
}
.present
{
border:solid 1px;
}
#left
{
height:600px;
width:30%;
background-color:#A81392;
float:left;
padding:10px;
}
#left li
{
list-style:none;
}
a
{
text-decoration:none;
}
#who
{
float:left;
margin:10px;
width:100px;
height:80px;
background-color:#F0EC13;
font-size:50px;
}
#logout
{
font-size:10px;
}
#conv
{
width:400px;
height:400px;
background-color:green;
font-size:40px;
color: darkblue;
font-family: Verdana;
overflow-y:scroll;
}
#message
{
width:400px;
background-color:green;
border:none;
font-size:50px;
color: darkblue;
font-family: Verdana;
resize:both;
}